* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header.header {
    width: 100%;
    height: 5em;
    background: linear-gradient(to left, #2b9fec, #fafafa);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* centrar de izquierda a derecha */
    justify-content: space-between;
    /* espacio entre los elementos arriba a abajo */
    position: fixed;
    z-index: 1000;
    padding: 0 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 1.8em;
    width: 100%;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    transition: transform 0.3s ease;
}

header .logo span {
    color: blue;
}

.header .logo:hover {
    transform: scale(1.05);
}

.header .logo:hover a {
    color: white;
}

.nav {
    width: 80%;
    margin-top: 2%;
}

.barnav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    list-style: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    transition: background-color 0.3s;
    margin-right: 7.5em;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu:hover {
    transform: scale(1.1);
}

.menu:hover a {
    color: white;
}

.user-icon {
    font-size: 1.5rem;
    color: black;
    margin-right: 1em;
    transition: transform 0.3s ease;
}

.user-icon:hover {
    color: white;
    transform: scale(1.1);
}

.floating-button {
    position: fixed;
    bottom: 60px;
    right: 24px;
    background-color: black;
    color: white;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1100;
    transition: background-color 0.3s ease;
}

.floating-button:hover {
    background-color: #FF1717;
}

.iconos-redes {
    position: fixed;
    bottom: 120px;
    right: 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.iconos-redes.show {
    opacity: 1;
}

.iconos-redes a {
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos-redes a:hover {
    background-color: #FF1717;
}

.iconos-redes.show a:nth-child(1) {
    transform: translateY(0px) rotate(0deg);
    /* Primero icono, no se desplaza */
}

.iconos-redes.show a:nth-child(2) {
    transform: translateY(0px) rotate(0deg);
    /* Segundo icono, no se desplaza */
}

.article {
    width: 80%;
    padding: 35px;
    background-color: #f2f2f2;
    margin-top: 8em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdcdc;
    line-height: 2.0;
    scroll-margin-top: 7em;
}

.article-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article-image img {
    width: 30em;
    height: 30em;
    border-radius: 10px;
}

.article-image-nosotros img {
    width: 30em;
    height: 24em;
    border-radius: 10px;
}

.article-text {
    width: 50%;
    padding: 0 20px;
}

.article h1 {
    font-size: 30px;
    margin-bottom: 0.5em;
}

.article_nosotros {
    width: 80%;
    padding: 35px;
    background-color: #f2f2f2;
    margin-top: 3em;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdcdc;
    line-height: 2.0;
    scroll-margin-top: 7em;
}

.article_nosotros h1 {
    font-size: 26px;
    margin-right: 1em;
}

.article_2 {
    width: 80%;
    padding: 35px;
    background-color: #f2f2f2;
    margin-top: 3em;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdcdc;
    line-height: 2.0;
    scroll-margin-top: 7em;
}

.article_2 h1 {
    font-size: 24px;
    margin-right: 1em;
}

.article_productos {
    width: 80%;
    padding: 35px;
    background-color: #f2f2f2;
    margin-top: 3em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdcdc;
    line-height: 2.0;
    scroll-margin-top: 7em;
}

.article_productos em {
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
}

.imagenes_productos {
    width: 80%;
    margin: 35px auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding: 10px 0 20px;
}

.imagenes_productos img {
    max-width: 350px;
    height: auto;
    margin: 0 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.imagenes_productos img:hover {
    transform: scale(1.05);
}

.imagenes_productos::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.imagenes_productos::-webkit-scrollbar-thumb {
    background-color: #2b9fec;
    border-radius: 5px;
}

.imagenes_productos::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 5px;
}

.video{
    max-width: 400px; 
    border-radius: 10px; 
    margin-top: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

video:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.footer {
    bottom: 0;
    margin-top: 4em;
    width: 100%;
    background: linear-gradient(to left, #2b9fec, #fafafa);
    font-family: 'Open Sans', sans-serif;
    color: black;
    z-index: 1000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.map-container {
    flex: 1;
    margin-left: 11em;
    border-radius: 10px;
    /* Redondea los bordes del contenedor del mapa */
    overflow: hidden;
    transition: transform 0.3s ease;

}

.map-container:hover {
    transform: scale(1.05);
}

.map-container iframe {
    width: 100%;
    height: 100%;
}

.footer-info {
    flex: 2;
    margin-left: 8em;
    line-height: 1.5;
}

.footer-info a {
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease;
}

.footer-info a:hover {
    color: #2b9fec;
}

.social-icons {
    margin-top: 0.5em;
}

.social-icons i {
    font-size: 24px;
    /* Ajusta el tamaño según sea necesario */
    margin-right: 10px;
    /* Espacio entre los iconos */
}

.footer-info .fa-id-card {
    color: black;
    /* Cambia el color del icono a azul */
    font-size: 18px;
    /* Aumenta el tamaño del icono a 24px */
    margin-right: 3px;
    /* Añade un margen a la derecha del icono */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-info .fa-id-card:hover {
    color: #2b9fec;

}

@media screen and (max-width: 600px) {
    header.header {
        padding: 0 1em;
        height: 4em;
    }

    .nav {
        margin-top: 1%;
        width: 90%;
    }

    .header .logo {
        font-size: 1.3em;
    }

    .menu {
        margin-right: 2.5em;
        margin-top: 1.8em;
        font-size: 0.8em;
    }

    .user-icon {
        margin-right: 0.5em;
    }

    .article {
        width: 90%;
        margin-top: 2em;
        /* Ajuste del margen superior */
    }

    .article-image img {
        width: 100%;
        height: auto;
        /* Mantener la proporción */
        border-radius: 0;
        /* Eliminar el radio de borde de la imagen */
    }

    .article-text {
        width: 100%;
        /* Ocupar todo el ancho disponible */
        padding: 10px;
    }

    .article h1 {
        font-size: 24px;
        /* Reducción del tamaño del título */
    }

    .floating-button {
        bottom: 50px;
        right: 12px;
    }

    .footer {
        margin-top: 2em;
        padding: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .map-container {
        margin: 0 auto;
    }

    .footer-info {
        margin: 1em 0;
    }
}