*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header.header {
    width: 100%;
    height: 5em;
    background: linear-gradient(to left, #2b9fec, #fafafa);
    display: flex;
    flex-direction: row;
    align-items: center; /* centrar de izquierda a derecha */
    justify-content: space-between; /* espacio entre los elementos arriba a abajo */
    position: fixed;
    z-index: 1000;
    padding: 0 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

header .logo {
    font-size: 1.8em;
    width: 100%;
    color: black;
    font-weight: bolder;
    text-decoration: none;
    transition: transform 0.3s ease;
}

header .logo span {
    color: blue; 
}

.header .logo:hover {
    transform: scale(1.05);
}

.header .logo:hover a {
    color: white;
}

.nav {
    width: 80%;
    margin-top: 2%;
}

.barnav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu {
    width: auto;
    height: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    list-style: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    transition: background-color 0.3s;
    margin-right: 7.5em; /* Ajustado el margen derecho */
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu:hover {
    transform: scale(1.1);
}

.menu:hover a {
    color: white; 
}

.user-icon {
    font-size: 1.5rem;
    color: black;
    margin-right: 1em;
    transition: transform 0.3s ease;
}

.user-icon:hover {
    color: white;
    transform: scale(1.1);
}

.floating-button {
    position: fixed;
    bottom: 60px;
    right: 24px;
    background-color: black;
    color: white;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1100;
    transition: background-color 0.3s ease;
}

.floating-button:hover {
    background-color: #FF1717; 
}
  
.iconos-redes {
    position: fixed;
    bottom: 120px;
    right: 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.iconos-redes.show {
    opacity: 1;
}
  
.iconos-redes a {
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos-redes a:hover{
    background-color: #FF1717;     
}
  
.iconos-redes.show a:nth-child(1) {
    transform: translateY(0px) rotate(0deg);
    /* Primero icono, no se desplaza */
}
  
.iconos-redes.show a:nth-child(2) {
    transform: translateY(0px) rotate(0deg);
    /* Segundo icono, no se desplaza */
}

.article {
    width: 80%;
    padding: 35px; 
    background-color: #f2f2f2;
    margin-top: 8em; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdcdc;
    line-height: 2.0;
    scroll-margin-top: 7em;
}

.article-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article-image_1 img {
    width: 30em;
    height: 28em;
    border-radius: 10px; /* Redondea los bordes de la imagen */
}

.article-text {
    width: 50%; /* Asigna el 50% del ancho para el texto */
    padding: 0 20px; /* Añade un espacio alrededor del texto */
}

.article h1,
.article_2 h1 {
    font-size: 30px;
    margin-bottom: 0.5em;
}

.article_2 {
    width: 80%;
    padding: 35px; 
    background-color: #f2f2f2;
    margin-top: 3em; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdcdc;
    line-height: 2.0;
    scroll-margin-top: 7em;
}

  .footer {
    bottom: 0;
    margin-top: 4em;
    width: 100%;
    background: linear-gradient(to left, #2b9fec, #fafafa);
    font-family: 'Open Sans', sans-serif;
    color: black;
    z-index: 1000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.map-container {
    flex: 1;
    margin-left: 11em;
    border-radius: 10px; /* Redondea los bordes del contenedor del mapa */
    overflow: hidden;
    transition: transform 0.3s ease;
    
}

.map-container:hover{
    transform: scale(1.05);
}

.map-container iframe {
    width: 100%;
    height: 100%;
}

.footer-info {
    flex: 2;
    margin-left: 8em;
    line-height: 1.5;
}

.footer-info a{
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit;
    transition: background-color 0.3s ease;
}

.footer-info a:hover{
    color: #2b9fec;
}

.social-icons {
    margin-top: 1em;
}

.social-icons i {
    font-size: 24px; /* Ajusta el tamaño según sea necesario */
    margin-right: 10px; /* Espacio entre los iconos */
}

